.intro-about {
  margin-top: 12rem;
  line-height: 1.2;
}

.intro-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  /* border: 1px solid blue; */
  margin: 0 auto;
}

.intro-img,
.gallery-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-img img,
.gallery-img img {
  width: 100%;
}

.intro-content {
  padding: 3.6rem;
}

.intro-heading {
  text-align: center;
}

.intro-description {
  font-size: 2.2rem;
}

.gallery-section {
  background-color: #594157;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 125rem;
  padding: 4rem;
  margin: 0 auto;
  margin-top: 9.6rem;
  margin-bottom: 8rem;
  gap: 4.8rem;
  line-height: 1.2;
}
.gallery-card {
  background-color: #e1f0f7;
  padding: 1.8rem;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.gallery-img {
  margin-bottom: 2rem;
}
.gallery-img img {
}
.about-gallery-description {
  font-size: 1.8rem;
}

/* ABOUT PAGE SECTION */

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  padding: 6rem;
  row-gap: 6.4rem;
}

.approach,
.quote-1,
.quote-2 {
  grid-column: span 2;
}

.about-approach-heading {
  font-size: 4.8rem;
  text-align: center;
}

.about-approach-heading {
  font-family: "Merriweather", serif;
}

.about-approach-txt {
  max-width: 80rem;

  font-size: 2.4rem;
  line-height: 1.8;
  margin: 2rem auto;
}

.background,
.professional {
  padding: 8rem;
}

.about-background-txt,
.about-professional-list {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 2rem auto;
  /* color: #7d8cc4; */
  color: #40518f;
}
.about-professional-list {
  list-style-type: none;
}
.about-professional-list li {
  margin: 2rem 0;
}

@media (max-width: 960px) {
  .intro-heading {
    font-size: 3.6rem;
  }
  .intro-description {
    font-size: 2.2rem;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }
  .approach,
  .quote-1,
  .quote-2 {
    grid-column: span 1;
  }
}
@media (max-width: 720px) {
  .intro-card {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: 1fr;
    padding: 4rem 0;
  }
  .gallery-card {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 1rem;
  }

  .quote {
    padding: 3.8rem 2.4rem;
  }
  .quote-txt {
    line-height: 1.4;
    font-size: 2.4;
  }
  .about-grid {
    padding: 0;
  }
  .about-background-heading,
  .about-professional-heading {
    text-align: center;
  }
  .about-approach-heading {
    font-size: 3.6rem;
  }
  .about-approach-txt {
    line-height: 1.2;
    margin: 0 1rem;
    font-size: 1.8rem;
  }
  .background,
  .professional {
    padding: 1.8rem;
  }
  .intro-about {
    margin-top: 6.6rem;
  }
  /* .gallery-img {
    flex-grow: 0;
  } */
}
